.table-container 
  table
    thead 
      tr 
        th 
          .cell 
            span.text RGB
        th 
          .cell 
            span.text Value 
    tbody 
      tr 
        td 
          .cell 
            span.text R
        td 
          .cell 
            span.text= complimentRGB[0] 
      tr 
        td 
          .cell 
            span.text G
        td 
          .cell 
            span.text= complimentRGB[1]
      tr 
        td 
          .cell 
            span.text B
        td 
          .cell 
            span.text= complimentRGB[2]