header.header 
  section.container 
    .logo-area 
      h1.logo Colors 
    nav.main-nav 
      form#searchForm.search-form
        input#search.input(type="search" name="search")
        button(type="submit").btn.btn-submit
          span.icon 
            i(data-feather="search")
          span.text Search Hex