.table-container 
  table
    thead 
      tr 
        th 
          .cell 
            span.text HSL
        th 
          .cell 
            span.text Value 
    tbody 
      tr 
        td 
          .cell 
            span.text H
        td 
          .cell 
            span.text= colorHSL[0] 
      tr 
        td 
          .cell 
            span.text S
        td 
          .cell 
            span.text= colorHSL[1]
      tr 
        td 
          .cell 
            span.text L
        td 
          .cell 
            span.text= colorHSL[2]