extends ../template.pug
block CONTENT
  main.content
    section.container
      .main-color-area(style={background: `#${color}`, color: contrastColor }) 
        .title
          h1 Primary
          h2= `#${color}`     
        include ../includes/rgb-table.pug 
        include ../includes/hsl-table.pug
  aside.aside 
    section.container
      .compliment-color-area(style={background: `#${compliment}`, color: complimentContrastColor })  
        .title 
          h1 Compliment
          h2= `#${compliment}`
        include ../includes/compliment-rgb-table.pug 
        include ../includes/compliment-hsl-table.pug
  footer.footer 
    section.container 
      small Dan Serio