extends ../template.pug 
block CONTENT 
  .landing-block
    h1 Welcome 
    p This site was created to demonstrate my static website building skills. Enjoy!
    a.btn-link.btn-link-cta(href="/color/random") Random Color